.gradle
.idea

build

common/.gradle
common/build

paper/.gradle
paper/build

paper/run
!paper/run/config
!paper/run/bukkit.yml
!paper/run/eula.txt
!paper/run/ops.json
!paper/run/server.properties
!paper/run/spigot.yml

jars